
.parentsDiv {
width: 1140px;
margin: 0 auto;
}

.parentsDiv .item{
    width: 33%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: left; */
}

.parentsDiv div img {
    width: 100%;
 }

.parentsDiv  div:hover {
      box-shadow: 5px 5px 10px gray;
 }

p {
    color: Gray;
}

.img-box{

    height: 211px;
    overflow: hidden;

}


